#checker-board {
  width: 600px;
  height: 600px;
  background-color: #ffbc00;
  border: 10px solid rgba(0,0,0,0.65);
	border-radius: 10px;
	position: relative;
}
.square {
		width: 75px;
		height: 75px;
		float: left;
	}
	.dark {
    background-color: rgba(0,0,0,0.25);
    background-image: url(./cave_bricks_03.png);
    background-size: cover;
   }
	.light {
    background-color: rgba(255,255,255,0.25);
    background-image: url(./cave_bricks_01.png);
    background-size: cover;
  }
	.checker {
		width: 65px;
		height: 65px;
		border-radius: 30px;
		position: absolute;
	}
	.red { background-color: red; }
	.black { background-color: black; }
