

.main-view {
  height: 100vh;
  display: flex;

}

#checker-board {
  width: 700px;
  height: 700px;
  margin: auto;
  background-color: #555555;
  border: 10px solid rgba(0,0,0,0.65);
	border-radius: 10px;

}
.square {
	width: 85px;
	height: 85px;
	float: left;
	}

.square:hover {
  z-index: 1;
  transition: transform 0.2s;
  outline: 1px solid transparent;
  transform: scale(1.1) rotate(2deg);
  filter: drop-shadow(7px 7px 2px #111111);
}

	.dark {
    background-color: rgba(0,0,0,0.25);
    background-image: url(../assets/cave_bricks_dark.png);
    background-size: cover;
   }
	.light {
    background-color: rgba(255,255,255,0.25);
    background-image: url(../assets/cave_bricks_light.png);
    background-size: cover;
  }

.checker {
	width: 85px;
	height: 85px;
  position: relative;
	}
	.red {
    // background-color: red;
    background-image: url(../assets/pawn_red.png);
    background-size: cover;
    background-position: bottom;
  }
	.blue {
    // background-color: blue;
    background-image: url(../assets/pawn_blue.png);
    background-size: cover;
    background-position: bottom;
  }
  .first-pers{
    height: 130px;
    border-radius: 40%;
    transform: rotateY(180deg);
    position : absolute;
    left : 0px;
    vertical-align: left;
  }
  .second-pers{
    height: 130px;
    border-radius: 40%;
    position : absolute;
    margin-top: 560px;
    left : 0px;
    vertical-align: left;
  }

  .heart{
    height: 70px;
    position : absolute;
    margin-top: 620px;
    left : 100px;
    vertical-align: left;
  }

  .star {
    height: 90px;
    position : absolute;
    margin-top: 600px;
    left : 190px;
    vertical-align: left;

  }
  .heartRed{
    height: 70px;
    position : absolute;
    margin-top: 40px;
    left : 100px;
    vertical-align: left;
  }

  .starRed {
    height: 90px;
    position : absolute;
    margin-top: 20px;
    left : 190px;
    vertical-align: left;

  }

