body {
  background-image: url(../assets/cave_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  cursor: url(../assets/cursor.ico), default;
}

.main-view-home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.main-logo{
  margin: auto;
  width: 100%;
  text-align: center;
}

#logo{
  max-width: 85%;
  height: auto;
  transition: transform .8s ease-in-out;
}
#logo:hover{
   transform: rotate(360deg);
}

.button{
  width: 16rem;
  height: 9rem;
  background: url(../assets/fight.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2rem;
    z-index: 99;
}

.button:hover{
  background: url(../assets/fight_hover.png);
  width: 16rem;
  height: 9rem;
  background-size: contain;
  background-repeat: no-repeat;
}
