body {
  margin: 0;
  padding: 0;
}

.main-view-home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/cave_bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-logo{
  margin: auto;
  width: 100%;
  text-align: center;
}

#logo{
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}


.main-button {
  margin: auto;
  width: 100%;
  text-align: center;
}

#button {
  width: 16rem;
}
